doctype html
html(lang='ru-RU')
	include ../common/head.jade
	body
		.main

			include ../common/menu.jade
			include ../common/header.jade
			include ../common/brand.jade
			include ../common/products.jade
			include ../common/recipes.jade
			include ../common/presents.jade
			include ../common/map.jade
			include ../common/popup.jade

		//- include ../common/footer.jade
		include ../common/scripts.jade
