doctype html
html(lang='ru-RU')
	include ../common/head.jade
	body
		//- .main
		//- 	.main__wrapper
				include ../common/menu.jade
		include ../common/header.jade

		//- include ../common/footer.jade
		include ../common/scripts.jade
