.menu {
  position: fixed;
  background-color: #f58229;
  padding-top: 10px;
  z-index: 100;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
  visibility: hidden;
  transition: all .5s; }
  .menu__active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0); }
  .menu__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 80%;
    position: relative;
    box-sizing: border-box; }
    .menu__wrapper:before, .menu__wrapper:after {
      content: " ";
      display: table; }
    .menu__wrapper:after {
      clear: both; }
  .menu__logo {
    display: block;
    float: left;
    max-width: 325px; }
    .menu__logoImg {
      width: 100%;
      height: auto;
      display: block; }
  .menu__list {
    float: right; }
  .menu__item {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    margin-top: 20px; }
  .menu__link {
    display: block;
    font-family: 'm_brodyregular';
    font-size: 36px;
    line-height: 39px;
    color: #fff;
    border-bottom: 1px dashed #fff; }
    .menu__link:hover, .menu__link--active {
      color: #1a4388;
      border-bottom: none; }
