@import "mixins";

.menu {
	position: fixed;
	background-color: #f58229;
	padding-top: 10px;
	z-index: 100;
	width: 100%;
	//display: none;
	opacity: 0;
	transform: translateY(-100px);
	visibility: hidden;
	transition: all .5s;

	&__active {
		//display: block;
		opacity: 1;
		visibility: visible;
		transform: translate(0);
	}

	&__wrapper {
		@include cl;
		@include wrapper;
	}
	&__logo {
		display: block;
		float: left;
		max-width: 325px;
		&Img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
	&__list {
		float: right;
	}
	&__item {
		display: inline-block;
		vertical-align: top;
		margin: 0 10px;
		margin-top: 20px;
	}
	&__link{
		display: block;
		font-family: 'm_brodyregular';
		font-size: 36px;
		line-height: 39px;
		color: #fff;
		border-bottom: 1px dashed #fff;
		&:hover, &--active {
			color: #1a4388;
			border-bottom: none;

		}
	}
}