$wrapperWidth : 1200px;
$minWrapperWidth : 960px;
$footerHeight : 595px;
$bodyFont : 'Verdana';
$bodyFontSize : 16px;
$bodyColor : #fff;
$bodyLineHeight : 20px;

$fontBold : 'elektra_light_probold';

// @mixin bold {
// 	font-family: 'elektra_light_probold';
// }

@function em($target, $context: $bodyFontSize) {
	@if $target == 0 {@return 0}
	@return $target / $context + 0em;
}
@function p($target, $context: $wrapperWidth) {
	@if $target == 0 {@return 0}
	@return $target / $context + 0em;
}

@mixin inlineBlock {
	display: inline-block;
	vertical-align: top;
}

@mixin cl {
	&:before, &:after {content: " "; display: table;}
	&:after {clear: both;}
}

@mixin wrapper {
	max-width: $wrapperWidth;
	//min-width: 960px;
	margin: 0 auto;
	width: 80%;
	position: relative;
	box-sizing: border-box;
	//margin: 0 -10px;
}

@mixin center {
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}

@mixin placecolor($color: #000000) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
}

@mixin noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
