@import "mixins";

.popup {
	position: fixed;
	background-color: rgba(0,0,0,.4);
	width: 100%;
	height: 100%;
	z-index: 101;
	top: 0;
	left: 0;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	outline: none;
	border: none;
	transition: all .5s;
	&__change {
		display: none;
	}
	&__active {
		visibility: visible;
		opacity: 1;
	}
	&__block {
		max-width: 780px;
		width: 100%;
		background-color: #fff;
		padding: 25px 75px;
		padding-bottom: 15px;
		display: inline-block;
		position: relative;
		text-align: left;
		box-sizing: border-box;
	}
	&__close {
		width: 16px;
		height: 16px;
		background: url(img/popup__close.png) 0 0 no-repeat;
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
	}
	&__header, &__main, &__cl {
		@include cl;
	}
	&__left {
		float: left;
		max-width: 255px;
		box-sizing: border-box;
		margin-right: 30px;
	}
	&__right{
		float: right;
		max-width: 310px;
		box-sizing: border-box;
		width: 100%;
	}
	&__name {
		@include h2bold;
		font-size: 11px;
		color: #b4b0ae;
		margin-bottom: 40px;
	}
	&__title {
		font-weight: bold;
		font-size: 26px;
		line-height: 24px;
		color: #4d413a;
		margin-bottom: 25px;
	}
	&__time {
		background: url(img/clock.png) no-repeat;
    	padding-left: 20px;
    	font-size: 14px;
    	line-height: 17px;
    	float: left;
	}
	&__portion {
		font-size: 14px;
    	line-height: 17px;
    	float: right;
	}
	&__img {
		width: 100%;
		display: block;
		height: auto;
		margin-bottom: 35px;
	}
	&__h2 {
		font-size: 18px;
		color: #4d413a;
		line-height: 21px;
		margin-bottom: 25px;
	}
	&__item {
		font-size: 12px;
		line-height: 14px;
		color: #4d413a;
		position: relative;
		margin-bottom: 10px;
		margin-left: 18px;
		&:after {
			content: '';
			position: absolute;
			top: 6px;
			left: -18px;
			width: 11px;
			height: 1px;
			background-color: #4d413a;
		}
	}
	&__p {
		font-size: 12px;
		line-height: 14px;
		color: #4d413a;
		margin-bottom: 10px;
	}
	&__main {
		padding-bottom: 20px;
	}
	&__footer {

	}
	&__line {
		width: 100%;
		vertical-align: middle;
		position: relative;
		margin-bottom: 40px;
		text-align: left;
		&:after {
			content: '';
			width: 100%;
			height: 1px;
			background-color: #959595;
			position: absolute;
			left: 0;
			top: 10px;
		}
	}
	&__lineText {
		display: inline-block;
		vertical-align: middle;
		font-size: 18px;
		color: #4d413a;
		font-weight: bold;
		display: inline-block;
		background-color: #fff;
		position: relative;
		z-index: 2;
		padding-right: 10px;
	}
	&__footer {
		text-align: center;
		font-size: 0;
		margin: 0 -35px;
	}
	&__recipe {
		display: inline-block;
		vertical-align: top;
		max-width: 180px;
		text-align: left;
		margin: 0 25px;
	}
	&__recipeTitle {
		color: #959595;
		font-size: 11px;
		line-height: 14px;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 8px;
	}
	&__recipeName {
		font-weight: bold;
		color: #232323;
		font-size: 14px;
		line-height: 18px;
		height: 45px;
	}
}
.popup .infoBlock {
	padding: 0;
	margin-bottom: 0;
}
.popup .infoBlock__mainImg {
	margin-bottom: 15px;
}
.popup .btn {
	margin-top: 25px;
	padding: 7px 10px;
}
