section.brand.section#brand
	.brand__wrapper
		.brand__column.brand__column--left
			h2.brand__title
				span.brand__title--big О бренде
				span.brand__title--small
					| Экологически чистые овощи,
					| выращенные в Сибири
			img(src="img/brand__logo.png", alt="").brand__logo
			.brand__text
				| Наш образ — дружелюбный, тёплый, живой, построен на принцепах открытости, позитива и лёгкой самоиронии. Он подтверждает то, что продукция под маркой «Дядя Лёня» полезна и доступна всем, и помогает сделать повседневную жизнь здоровой и качественной.
			img(src="img/brand__field.png", alt="").brand__field
			.brand__text--italic
				| «Мы заботимся о том, чтобы люди получали максимум удовлетворения от осознанного выбора свежих, качественных овощей местного производства.»
		.brand__column.brand__column--right
			img(src="img/brand__right.jpg", alt="").brand__imgRight