section.header
	.header__wrapper
		a(href="").header__logo
			img(src="img/logo.png", alt="logo").header__logo-img
		h1.header__title Свежие овощи из Сибири
			img(src="img/header-title.png", alt="header-title").header__title-img
		.header__rel-block
			a(href="").header__stiker
				img(src="img/stiker.png", alt="stiker").header__stiker-img
section.advantages
	.advantages__wrapper
		img(src="img/advantages__img1.png", alt="").advantages__img.advantages__img1
		img(src="img/advantages__img2.png", alt="").advantages__img.advantages__img2
		img(src="img/advantages__img3.png", alt="").advantages__img.advantages__img3
		img(src="img/advantages__img4.png", alt="").advantages__img.advantages__img4
		img(src="img/advantages__img5.png", alt="").advantages__img.advantages__img5


