section.menu#menu
	.menu__wrapper
		a(href="").menu__logo
			img(src="img/menu__logo.png").menu__logoImg
		ul.menu__list
			li.menu__item
				a(href="", data-anchor="brand").menu__link О бренде
			li.menu__item
				a(href="", data-anchor="products").menu__link Наши продукты
			li.menu__item
				a(href="", data-anchor="recipes").menu__link Рецепты
			li.menu__item
				a(href="", data-anchor="presents").menu__link Акции
			li.menu__item
				a(href="", data-anchor="map").menu__link Контакты
