button.popup
	.popup__block
		.popup__close
		.popup__change#potato
			.popup__header
				.popup__left
					.popup__name рецепт
					.popup__title Картофель с&nbsp;розмарином
					.popup__cl
						span.popup__time 1ч. 10мин.
						span.popup__portion 2 порции
				.popup__right
					img(src="img/productsInfo__mainImg.jpg").popup__img
			.popup__main
				.popup__left
					.popup__h2 Ингредиенты
					ul.popup__list
						li.popup__item 1,8 кг картофеля «Дядя Лёня», мытого отборного
						li.popup__item 2 десертные ложки масла
						li.popup__item 4 зубчика чеснока
						li.popup__item 4 ст ложки резанного розмарина
						li.popup__item 1 десертная ложка соли
						li.popup__item противень 50х30 см
						li.popup__item духовку разогреваем до 230 градусов
				.popup__right
					.popup__h2 Рецепт приготовления
					p.popup__p Каждую картофелину разрежем на 4 части и обсушим с помощью полотенца
					p.popup__p В миске смешаем растительное масло, резанный розмарин, давленный чеснок и соль
					p.popup__p Дольки картофеля обваляем в маслянисто-розмариновой смеси. Масла достаточно! Все дольки смазаны и благоухают))) Выкладываем на лист в один слой
					p.popup__p Ставим на средний уровень хорошо разогретой духовки и выпекаем 30 минут до золотистой корочки. Мне времени не хватило, за пять минут до конца я переставила противень на верхний уровень и включила духовку на максимум. Картофель получился очень вкусным!

		.popup__change#something
			.popup__header
				.popup__left
					.popup__name рецепт
					.popup__title something
					.popup__cl
						span.popup__time 1ч. 10мин.
						span.popup__portion 2 порции
				.popup__right
					img(src="img/productsInfo__mainImg.jpg").popup__img
			.popup__main
				.popup__left
					.popup__h2 Ингредиенты
					ul.popup__list
						li.popup__item 1,8 кг картофеля «Дядя Лёня», мытого отборного
						li.popup__item 2 десертные ложки масла
						li.popup__item 4 зубчика чеснока

				.popup__right
					.popup__h2 Рецепт приготовления
					p.popup__p Каждую картофелину разрежем на 4 части и обсушим с помощью полотенца
					p.popup__p В миске смешаем растительное масло, резанный розмарин, давленный чеснок и соль


		.popup__change#somethingElse
			.popup__header
				.popup__left
					.popup__name рецепт
					.popup__title somethingElse
					.popup__cl
						span.popup__time 1ч. 10мин.
						span.popup__portion 2 порции
				.popup__right
					img(src="img/productsInfo__mainImg.jpg").popup__img
			.popup__main
				.popup__left
					.popup__h2 Ингредиенты
					ul.popup__list
						li.popup__item 4 ст ложки резанного розмарина
						li.popup__item 1 десертная ложка соли
						li.popup__item противень 50х30 см
						li.popup__item духовку разогреваем до 230 градусов
				.popup__right
					.popup__h2 Рецепт приготовления
					p.popup__p Дольки картофеля обваляем в маслянисто-розмариновой смеси. Масла достаточно! Все дольки смазаны и благоухают))) Выкладываем на лист в один слой
					p.popup__p Ставим на средний уровень хорошо разогретой духовки и выпекаем 30 минут до золотистой корочки. Мне времени не хватило, за пять минут до конца я переставила противень на верхний уровень и включила духовку на максимум. Картофель получился очень вкусным!

		.popup__footer
			.popup__line
				span.popup__lineText Еще рецепты
			.popup__recipe
				.popup__recipeTitle рецепт
				.js-openRecept(data-popuplink="#potato")
					.popup__recipeName Картофель запечённый в&nbsp;сметане
					.infoBlock
						img(src="img/productsInfo__mainImg1.jpg").infoBlock__mainImg
						span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
						span.infoBlock__span.infoBlock__span--right 2 порции
						.btn.js-popup.js-popup1 Подробнее

			.popup__recipe
				.popup__recipeTitle рецепт
				.js-openRecept(data-popuplink="#something")
					.popup__recipeName Гуляшь на пиве
					.infoBlock
						img(src="img/productsInfo__mainImg2.jpg").infoBlock__mainImg
						span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
						span.infoBlock__span.infoBlock__span--right 2 порции
						.btn.js-popup Подробнее

			.popup__recipe
				.popup__recipeTitle рецепт
				.js-openRecept(data-popuplink="#somethingElse")
					.popup__recipeName Картофель с&nbsp;розмарином
					.infoBlock
						img(src="img/productsInfo__mainImg3.jpg").infoBlock__mainImg
						span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
						span.infoBlock__span.infoBlock__span--right 2 порции
						.btn.js-popup Подробнее




