section.presents#presents
	.presents__wrapper
		.presents__title Подарки от
			span.presents__title--blue «Дяди Лёни»
		.presents__left
			img(src="img/presents__img.jpg").presents__img
		.presents__right
			.presents__text Зарегистрируй код и&nbsp;выиграй
				span.presents__bold
					|  сертификат на&nbsp;1000 руб.
			button.btn Подробнее об акции
