section.products
	.products__wrapper
		.products__title Наши продукты
		.products__own
			img(src="img/products__img--big.jpg").products__img--big

			.productsInfo
				.productsInfo__left
					.productsInfo__title Картофель
					.productsInfo__title-h2 Отборный
					.productsInfo__text Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.
					img(src="img/productsInfo__img1.png").productsInfo__img
					img(src="img/productsInfo__img2.png").productsInfo__img
				.productsInfo__right
					.productsInfo__title.productsInfo__title--right рецепт
					.productsInfo__title--grey Картофель с&nbsp;розмарином
					.infoBlock
						img(src="img/productsInfo__mainImg.jpg").infoBlock__mainImg
						span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
						span.infoBlock__span.infoBlock__span--right 2 порции
					button.btn Подробнее

		a(href="").products__block
			.products__block-name Отборный
			img(src="img/products__img1.jpg", alt="").products__img
		a(href="").products__block
			.products__block-name Экстра
			img(src="img/products__img2.jpg", alt="").products__img
		a(href="").products__block
			.products__block-name Для жарки
			img(src="img/products__img3.jpg", alt="").products__img
		a(href="").products__block
			.products__block-name Для варки
			img(src="img/products__img4.jpg", alt="").products__img
		a(href="").products__block
			.products__block-name Мундирный
			img(src="img/products__img5.jpg", alt="").products__img
		a(href="").products__block
			.products__block-name Морковь
			img(src="img/products__img6.jpg", alt="").products__img
		a(href="").products__block
			.products__block-name Свекла
			img(src="img/products__img7.jpg", alt="").products__img