section.products#products
	.products__wrapper
		.products__prev Назад
		.products__title Наши продукты

		.products__own#choicePotatoes
			img(src="img/products__img--big.jpg").products__img--big

			.productsInfo
				.productsInfo__left
					.productsInfo__title Картофель
					.productsInfo__title-h2 Отборный
					.productsInfo__text Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.
					img(src="img/productsInfo__img1.png").productsInfo__img
					img(src="img/productsInfo__img2.png").productsInfo__img.productsInfo__img--right
				.productsInfo__right
					.productsInfo__title.productsInfo__title--right рецепт
					.productsInfo__title--grey Картофель с&nbsp;розмарином
					.infoBlock
						img(src="img/productsInfo__mainImg.jpg").infoBlock__mainImg
						span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
						span.infoBlock__span.infoBlock__span--right 2 порции
					button.btn.js-popup(data-popuplink="#potato") Подробнее

		.products__own#name2
			img(src="img/products__img--big.jpg").products__img--big

			.productsInfo
				.productsInfo__left
					.productsInfo__title lorem
					.productsInfo__title-h2 lorem
					.productsInfo__text Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский
					img(src="img/productsInfo__img1.png").productsInfo__img
					img(src="img/productsInfo__img2.png").productsInfo__img.productsInfo__img--right
				.productsInfo__right
					.productsInfo__title.productsInfo__title--right рецепт
					.productsInfo__title--grey lorem
					.infoBlock
						img(src="img/productsInfo__mainImg.jpg").infoBlock__mainImg
						span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
						span.infoBlock__span.infoBlock__span--right 2 порции
					button.btn.js-popup(data-popuplink="#potato") Подробнее

		.products__own#name3
			img(src="img/products__img--big.jpg").products__img--big

			.productsInfo
				.productsInfo__left
					.productsInfo__title lorem2
					.productsInfo__title-h2 lorem2
					.productsInfo__text Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.
					img(src="img/productsInfo__img1.png").productsInfo__img
					img(src="img/productsInfo__img2.png").productsInfo__img.productsInfo__img--right
				.productsInfo__right
					.productsInfo__title.productsInfo__title--right рецепт
					.productsInfo__title--grey lorem2
					.infoBlock
						img(src="img/productsInfo__mainImg.jpg").infoBlock__mainImg
						span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
						span.infoBlock__span.infoBlock__span--right 2 порции
					button.btn.js-popup(data-popuplink="#potato") Подробнее

		.products__own#name4
			img(src="img/products__img--big.jpg").products__img--big

			.productsInfo
				.productsInfo__left
					.productsInfo__title lorem3
					.productsInfo__title-h2 lorem3
					.productsInfo__text Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.
					img(src="img/productsInfo__img1.png").productsInfo__img
					img(src="img/productsInfo__img2.png").productsInfo__img.productsInfo__img--right
				.productsInfo__right
					.productsInfo__title.productsInfo__title--right рецепт
					.productsInfo__title--grey lorem3
					.infoBlock
						img(src="img/productsInfo__mainImg.jpg").infoBlock__mainImg
						span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
						span.infoBlock__span.infoBlock__span--right 2 порции
					button.btn.js-popup(data-popuplink="#potato") Подробнее

		.products__own#name5
			img(src="img/products__img--big.jpg").products__img--big

			.productsInfo
				.productsInfo__left
					.productsInfo__title lorem4
					.productsInfo__title-h2 lorem4
					.productsInfo__text Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.
					img(src="img/productsInfo__img1.png").productsInfo__img
					img(src="img/productsInfo__img2.png").productsInfo__img.productsInfo__img--right
				.productsInfo__right
					.productsInfo__title.productsInfo__title--right рецепт
					.productsInfo__title--grey lorem4
					.infoBlock
						img(src="img/productsInfo__mainImg.jpg").infoBlock__mainImg
						span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
						span.infoBlock__span.infoBlock__span--right 2 порции
					button.btn.js-popup(data-popuplink="#potato") Подробнее

		.products__own#name6
			img(src="img/products__img--big.jpg").products__img--big

			.productsInfo
				.productsInfo__left
					.productsInfo__title lorem5
					.productsInfo__title-h2 lorem5
					.productsInfo__text Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.
					img(src="img/productsInfo__img1.png").productsInfo__img
					img(src="img/productsInfo__img2.png").productsInfo__img.productsInfo__img--right
				.productsInfo__right
					.productsInfo__title.productsInfo__title--right рецепт
					.productsInfo__title--grey lorem5
					.infoBlock
						img(src="img/productsInfo__mainImg.jpg").infoBlock__mainImg
						span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
						span.infoBlock__span.infoBlock__span--right 2 порции
					button.btn.js-popup(data-popuplink="#potato") Подробнее

		.products__own#name7
			img(src="img/products__img--big.jpg").products__img--big

			.productsInfo
				.productsInfo__left
					.productsInfo__title lorem6
					.productsInfo__title-h2 lorem6
					.productsInfo__text Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.
					img(src="img/productsInfo__img1.png").productsInfo__img
					img(src="img/productsInfo__img2.png").productsInfo__img.productsInfo__img--right
				.productsInfo__right
					.productsInfo__title.productsInfo__title--right рецепт
					.productsInfo__title--grey lorem6
					.infoBlock
						img(src="img/productsInfo__mainImg.jpg").infoBlock__mainImg
						span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
						span.infoBlock__span.infoBlock__span--right 2 порции
					button.btn.js-popup(data-popuplink="#potato") Подробнее


		a(href="#choicePotatoes").products__block.js-product__link
			.products__block-name Отборный
			img(src="img/products__img1.jpg", alt="").products__img
		a(href="#name2").products__block.js-product__link
			.products__block-name Экстра
			img(src="img/products__img2.jpg", alt="").products__img
		a(href="#name3").products__block.js-product__link
			.products__block-name Для жарки
			img(src="img/products__img3.jpg", alt="").products__img
		a(href="#name4").products__block.js-product__link
			.products__block-name Для варки
			img(src="img/products__img4.jpg", alt="").products__img
		a(href="#name5").products__block.js-product__link
			.products__block-name Мундирный
			img(src="img/products__img5.jpg", alt="").products__img
		a(href="#name6").products__block.js-product__link
			.products__block-name Морковь
			img(src="img/products__img6.jpg", alt="").products__img
		a(href="#name7").products__block.js-product__link
			.products__block-name Свекла
			img(src="img/products__img7.jpg", alt="").products__img