section.recipes#recipes
	.recipes__wrapper
		.recipes__title Рецепты
		.recipes__slider

			.recipes__slide
				.recipes__slideName рецепт
				.recipes__slideName--big Картофель с&nbsp;розмарином
				.infoBlock
					img(src="img/productsInfo__mainImg.jpg").infoBlock__mainImg
					span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
					span.infoBlock__span.infoBlock__span--right 2 порции
					.btn.js-popup Подробнее

			.recipes__slide
				.recipes__slideName рецепт
				.recipes__slideName--big Картофель запечённый в&nbsp;сметане
				.infoBlock
					img(src="img/productsInfo__mainImg1.jpg").infoBlock__mainImg
					span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
					span.infoBlock__span.infoBlock__span--right 2 порции
					.btn.js-popup Подробнее

			.recipes__slide
				.recipes__slideName рецепт
				.recipes__slideName--big Гуляшь на&nbsp;пиве
				.infoBlock
					img(src="img/productsInfo__mainImg2.jpg").infoBlock__mainImg
					span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
					span.infoBlock__span.infoBlock__span--right 2 порции
					.btn.js-popup Подробнее

			.recipes__slide
				.recipes__slideName рецепт
				.recipes__slideName--big Картофель с&nbsp;розмарином
				.infoBlock
					img(src="img/productsInfo__mainImg3.jpg").infoBlock__mainImg
					span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
					span.infoBlock__span.infoBlock__span--right 2 порции
					.btn.js-popup Подробнее

			.recipes__slide
				.recipes__slideName рецепт
				.recipes__slideName--big Картофель с&nbsp;розмарином
				.infoBlock
					img(src="img/productsInfo__mainImg3.jpg").infoBlock__mainImg
					span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
					span.infoBlock__span.infoBlock__span--right 2 порции
					.btn.js-popup Подробнее
			.recipes__slide
				.recipes__slideName рецепт
				.recipes__slideName--big Картофель с&nbsp;розмарином
				.infoBlock
					img(src="img/productsInfo__mainImg3.jpg").infoBlock__mainImg
					span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
					span.infoBlock__span.infoBlock__span--right 2 порции
					.btn.js-popup Подробнее
			.recipes__slide
				.recipes__slideName рецепт
				.recipes__slideName--big Картофель с&nbsp;розмарином
				.infoBlock
					img(src="img/productsInfo__mainImg3.jpg").infoBlock__mainImg
					span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
					span.infoBlock__span.infoBlock__span--right 2 порции
					.btn.js-popup Подробнее