section.recipes#recipes
	.recipes__wrapper
		ul#scene
			li.leaves1.layer(data-depth="-0.20")
			li.leaves2.layer(data-depth="0.20")
			li.leaves3.layer(data-depth="0.20")
			li.leaves4.layer(data-depth="-0.20")
		.recipes__title Рецепты
		.recipes__slider

			.recipes__slide
				.recipes__slideName рецепт
				.js-openRecept(data-popuplink="#potato")
					.recipes__slideName--big Картофель с&nbsp;розмарином
					.infoBlock
						img(src="img/productsInfo__mainImg.jpg").infoBlock__mainImg
						span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
						span.infoBlock__span.infoBlock__span--right 2 порции
						.recept
							.recept__h2 Ингредиенты
							ul.popup__list
								li.popup__item 1,8 кг картофеля «Дядя Лёня», мытого отборного
								li.popup__item 2 десертные ложки масла
								li.popup__item 4 зубчика чеснока
								li.popup__item 4 ст ложки резанного розмарина
								li.popup__item 1 десертная ложка соли
								li.popup__item противень 50х30 см
								li.popup__item духовку разогреваем до 230 градусов
							.recept__h2 Рецепт приготовления
							p.popup__p Каждую картофелину разрежем на 4 части и обсушим с помощью полотенца
							p.popup__p В миске смешаем растительное масло, резанный розмарин, давленный чеснок и соль
							p.popup__p Дольки картофеля обваляем в маслянисто-розмариновой смеси. Масла достаточно! Все дольки смазаны и благоухают))) Выкладываем на лист в один слой
							p.popup__p Ставим на средний уровень хорошо разогретой духовки и выпекаем 30 минут до золотистой корочки. Мне времени не хватило, за пять минут до конца я переставила противень на верхний уровень и включила духовку на максимум. Картофель получился очень вкусным!

						.btn.js-popup Подробнее

			.recipes__slide
				.recipes__slideName рецепт
				.js-openRecept(data-popuplink="#something")
					.recipes__slideName--big Картофель запечённый в&nbsp;сметане
					.infoBlock
						img(src="img/productsInfo__mainImg1.jpg").infoBlock__mainImg
						span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
						span.infoBlock__span.infoBlock__span--right 2 порции
						.recept
							.recept__h2 Ингредиенты
							ul.popup__list
								li.popup__item 1,8 кг картофеля «Дядя Лёня», мытого отборного
								li.popup__item 2 десертные ложки масла
								li.popup__item 4 зубчика чеснока
								li.popup__item 4 ст ложки резанного розмарина
								li.popup__item 1 десертная ложка соли
								li.popup__item противень 50х30 см
								li.popup__item духовку разогреваем до 230 градусов
							.recept__h2 Рецепт приготовления
							p.popup__p Каждую картофелину разрежем на 4 части и обсушим с помощью полотенца
							p.popup__p В миске смешаем растительное масло, резанный розмарин, давленный чеснок и соль
							p.popup__p Дольки картофеля обваляем в маслянисто-розмариновой смеси. Масла достаточно! Все дольки смазаны и благоухают))) Выкладываем на лист в один слой
							p.popup__p Ставим на средний уровень хорошо разогретой духовки и выпекаем 30 минут до золотистой корочки. Мне времени не хватило, за пять минут до конца я переставила противень на верхний уровень и включила духовку на максимум. Картофель получился очень вкусным!
						.btn.js-popup Подробнее

			.recipes__slide
				.recipes__slideName рецепт
				.js-openRecept(data-popuplink="#somethingElse")
					.recipes__slideName--big Гуляшь на&nbsp;пиве
					.infoBlock
						img(src="img/productsInfo__mainImg2.jpg").infoBlock__mainImg
						span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
						span.infoBlock__span.infoBlock__span--right 2 порции
						.recept
							.recept__h2 Ингредиенты
							ul.popup__list
								li.popup__item 1,8 кг картофеля «Дядя Лёня», мытого отборного
								li.popup__item 2 десертные ложки масла
								li.popup__item 4 зубчика чеснока
								li.popup__item 4 ст ложки резанного розмарина
								li.popup__item 1 десертная ложка соли
								li.popup__item противень 50х30 см
								li.popup__item духовку разогреваем до 230 градусов
							.recept__h2 Рецепт приготовления
							p.popup__p Каждую картофелину разрежем на 4 части и обсушим с помощью полотенца
							p.popup__p В миске смешаем растительное масло, резанный розмарин, давленный чеснок и соль
							p.popup__p Дольки картофеля обваляем в маслянисто-розмариновой смеси. Масла достаточно! Все дольки смазаны и благоухают))) Выкладываем на лист в один слой
							p.popup__p Ставим на средний уровень хорошо разогретой духовки и выпекаем 30 минут до золотистой корочки. Мне времени не хватило, за пять минут до конца я переставила противень на верхний уровень и включила духовку на максимум. Картофель получился очень вкусным!
						.btn.js-popup Подробнее

			.recipes__slide
				.recipes__slideName рецепт
				.js-openRecept(data-popuplink="#potato")
					.recipes__slideName--big Картофель с&nbsp;розмарином
					.infoBlock
						img(src="img/productsInfo__mainImg3.jpg").infoBlock__mainImg
						span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
						span.infoBlock__span.infoBlock__span--right 2 порции
						.recept
							.recept__h2 Ингредиенты
							ul.popup__list
								li.popup__item 1,8 кг картофеля «Дядя Лёня», мытого отборного
								li.popup__item 2 десертные ложки масла
								li.popup__item 4 зубчика чеснока
								li.popup__item 4 ст ложки резанного розмарина
								li.popup__item 1 десертная ложка соли
								li.popup__item противень 50х30 см
								li.popup__item духовку разогреваем до 230 градусов
							.recept__h2 Рецепт приготовления
							p.popup__p Каждую картофелину разрежем на 4 части и обсушим с помощью полотенца
							p.popup__p В миске смешаем растительное масло, резанный розмарин, давленный чеснок и соль
							p.popup__p Дольки картофеля обваляем в маслянисто-розмариновой смеси. Масла достаточно! Все дольки смазаны и благоухают))) Выкладываем на лист в один слой
							p.popup__p Ставим на средний уровень хорошо разогретой духовки и выпекаем 30 минут до золотистой корочки. Мне времени не хватило, за пять минут до конца я переставила противень на верхний уровень и включила духовку на максимум. Картофель получился очень вкусным!
						.btn.js-popup Подробнее

			.recipes__slide
				.recipes__slideName рецепт
				.js-openRecept(data-popuplink="#something")
					.recipes__slideName--big Картофель с&nbsp;розмарином
					.infoBlock
						img(src="img/productsInfo__mainImg3.jpg").infoBlock__mainImg
						span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
						span.infoBlock__span.infoBlock__span--right 2 порции
						.recept
							.recept__h2 Ингредиенты
							ul.popup__list
								li.popup__item 1,8 кг картофеля «Дядя Лёня», мытого отборного
								li.popup__item 2 десертные ложки масла
								li.popup__item 4 зубчика чеснока
								li.popup__item 4 ст ложки резанного розмарина
								li.popup__item 1 десертная ложка соли
								li.popup__item противень 50х30 см
								li.popup__item духовку разогреваем до 230 градусов
							.recept__h2 Рецепт приготовления
							p.popup__p Каждую картофелину разрежем на 4 части и обсушим с помощью полотенца
							p.popup__p В миске смешаем растительное масло, резанный розмарин, давленный чеснок и соль
							p.popup__p Дольки картофеля обваляем в маслянисто-розмариновой смеси. Масла достаточно! Все дольки смазаны и благоухают))) Выкладываем на лист в один слой
							p.popup__p Ставим на средний уровень хорошо разогретой духовки и выпекаем 30 минут до золотистой корочки. Мне времени не хватило, за пять минут до конца я переставила противень на верхний уровень и включила духовку на максимум. Картофель получился очень вкусным!
						.btn.js-popup Подробнее
			.recipes__slide
				.recipes__slideName рецепт
				.js-openRecept
					.recipes__slideName--big Картофель с&nbsp;розмарином
					.infoBlock
						img(src="img/productsInfo__mainImg3.jpg").infoBlock__mainImg
						span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
						span.infoBlock__span.infoBlock__span--right 2 порции
						.recept
							.recept__h2 Ингредиенты
							ul.popup__list
								li.popup__item 1,8 кг картофеля «Дядя Лёня», мытого отборного
								li.popup__item 2 десертные ложки масла
								li.popup__item 4 зубчика чеснока
								li.popup__item 4 ст ложки резанного розмарина
								li.popup__item 1 десертная ложка соли
								li.popup__item противень 50х30 см
								li.popup__item духовку разогреваем до 230 градусов
							.recept__h2 Рецепт приготовления
							p.popup__p Каждую картофелину разрежем на 4 части и обсушим с помощью полотенца
							p.popup__p В миске смешаем растительное масло, резанный розмарин, давленный чеснок и соль
							p.popup__p Дольки картофеля обваляем в маслянисто-розмариновой смеси. Масла достаточно! Все дольки смазаны и благоухают))) Выкладываем на лист в один слой
							p.popup__p Ставим на средний уровень хорошо разогретой духовки и выпекаем 30 минут до золотистой корочки. Мне времени не хватило, за пять минут до конца я переставила противень на верхний уровень и включила духовку на максимум. Картофель получился очень вкусным!
						.btn.js-popup(data-popuplink="#somethingElse") Подробнее
			.recipes__slide
				.recipes__slideName рецепт
				.js-openRecept(data-popuplink="#potato")
					.recipes__slideName--big Картофель с&nbsp;розмарином
					.infoBlock
						img(src="img/productsInfo__mainImg3.jpg").infoBlock__mainImg
						span.infoBlock__span.infoBlock__span--clock 1ч. 10мин.
						span.infoBlock__span.infoBlock__span--right 2 порции
						.recept
							.recept__h2 Ингредиенты
							ul.popup__list
								li.popup__item 1,8 кг картофеля «Дядя Лёня», мытого отборного
								li.popup__item 2 десертные ложки масла
								li.popup__item 4 зубчика чеснока
								li.popup__item 4 ст ложки резанного розмарина
								li.popup__item 1 десертная ложка соли
								li.popup__item противень 50х30 см
								li.popup__item духовку разогреваем до 230 градусов
							.recept__h2 Рецепт приготовления
							p.popup__p Каждую картофелину разрежем на 4 части и обсушим с помощью полотенца
							p.popup__p В миске смешаем растительное масло, резанный розмарин, давленный чеснок и соль
							p.popup__p Дольки картофеля обваляем в маслянисто-розмариновой смеси. Масла достаточно! Все дольки смазаны и благоухают))) Выкладываем на лист в один слой
							p.popup__p Ставим на средний уровень хорошо разогретой духовки и выпекаем 30 минут до золотистой корочки. Мне времени не хватило, за пять минут до конца я переставила противень на верхний уровень и включила духовку на максимум. Картофель получился очень вкусным!
						.btn.js-popup Подробнее